$white-color: hsl(0, 0%, 100%);

@mixin card-size {
  height: 157px;
  width: 286px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

* {
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: $white-color;
}

.card-header-container {
  position: relative;
  width: 100%;
  height: 240px;
  background-image: url("images/bg-main-mobile.png");

  .card-back-image-container {
    @include card-size;
    background-image: url("images/bg-card-back.png");
    top: 50px;
    left: 70px;
    .card-back-cvc {
      position: absolute;
      left: 230px;
      top: 70px;
      letter-spacing: 1px;
      font-size: 0.6rem;
      font-weight: normal;
      color: $white-color;
    }
  }

  .card-front-image-container {
    @include card-size;
    background-image: url("images/bg-card-front.png");
    top: 140px;
    left: 15px;
  }
}
