@mixin card-size {
  height: 157px;
  width: 286px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 100%);
}

.card-header-container {
  position: relative;
  width: 100%;
  height: 240px;
  background-image: url("images/bg-main-mobile.png");

  .card-back-image-container {
    @include card-size;
    background-image: url("images/bg-card-back.png");
    top: 50px;
    left: 70px;
  }

  .card-front-image-container {
    @include card-size;
    background-image: url("images/bg-card-front.png");
    top: 140px;
    left: 15px;
  }
}
