* {
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(0deg, 0%, 100%);
}
body main {
  height: 100%;
  width: 100%;
}

.card-header-container {
  position: relative;
  width: 100%;
  height: 240px;
  background-image: url("images/bg-main-mobile.png");
}
.card-header-container .card-back-image-container {
  height: 157px;
  width: 286px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("images/bg-card-back.png");
  top: 30px;
  left: 70px;
}
.card-header-container .card-back-image-container .card-back-cvc {
  position: absolute;
  left: 230px;
  top: 72px;
  letter-spacing: 1px;
  font-size: 0.6rem;
  font-weight: lighter;
  font-size: 0.5rem;
  color: hsl(0deg, 0%, 100%);
}
.card-header-container .card-front-image-container {
  height: 157px;
  width: 286px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("images/bg-card-front.png");
  top: 120px;
  left: 15px;
  color: hsl(0deg, 0%, 100%);
}
.card-header-container .card-front-image-container .card-front-logo {
  position: absolute;
  width: 54px;
  height: 30px;
  top: 15px;
  left: 20px;
}
.card-header-container .card-front-image-container .card-front-card-number {
  position: absolute;
  top: 90px;
  left: 20px;
  letter-spacing: 2.6px;
}
.card-header-container .card-front-image-container .card-front-card-expiry {
  position: absolute;
  top: 125px;
  left: 230px;
  display: flex;
}
.card-header-container .card-front-image-container .card-front-card-expiry p {
  letter-spacing: 1px;
  font-size: 0.6rem;
  font-weight: lighter;
}
.card-header-container .card-front-image-container .card-front-card-holder-name {
  letter-spacing: 1px;
  font-size: 0.6rem;
  font-weight: lighter;
  position: absolute;
  top: 125px;
  left: 20px;
}

.hidden {
  display: none !important;
}

.card-form-container {
  margin-top: 65px;
}
.card-form-container .card-form {
  display: flex;
  flex-direction: column;
  width: 375px;
  padding: 24px;
}
.card-form-container .card-form .card-form-flex-container {
  display: flex;
}
.card-form-container .card-form .card-form-label {
  position: relative;
  font-size: 0.65rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: hsl(278deg, 81%, 18%);
}
.card-form-container .card-form input {
  width: 100%;
  margin: 10px 0 17px 0;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid hsl(270deg, 3%, 87%);
  color: hsl(278deg, 81%, 18%);
}
.card-form-container .card-form .input-error {
  border: 1px solid hsl(0deg, 100%, 66%) !important;
}
.card-form-container .card-form input:focus {
  outline: 2px solid hsl(278deg, 81%, 18%);
}
.card-form-container .card-form input::placeholder {
  color: hsl(279deg, 6%, 55%);
  font-weight: bold;
}
.card-form-container .card-form .card-form-confirm-button,
.card-form-container .card-form .confirmation-form-continue {
  margin-top: 15px;
  border-radius: 7px;
  padding: 15px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 81%, 18%);
  border: none;
  cursor: pointer;
}
.card-form-container .card-form .card-form-flex-container {
  display: flex;
  width: 100%;
  position: relative;
}
.card-form-container .card-form .card-form-flex-container .expiry-label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-form-container .card-form .card-form-card-expiry-month, .card-form-container .card-form .card-form-card-expiry-year {
  width: 80px;
  margin-right: 5px;
}
.card-form-container .card-form .label-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-form-container .card-form .error-message {
  color: hsl(0deg, 100%, 66%);
  font-size: 0.7rem;
  position: absolute;
  top: 70px;
}
.card-form-container .confirmation-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-form-container .confirmation-container .confirmation-tick {
  height: 80px;
  width: 80px;
}
.card-form-container .confirmation-container .thank-you-text {
  margin-top: 35px;
  font-size: 1.5rem;
  color: hsl(278deg, 81%, 18%);
  font-weight: bold;
  letter-spacing: 5px;
}
.card-form-container .confirmation-container .added-text {
  margin-top: 15px;
  font-size: 1.1rem;
  color: hsl(279deg, 6%, 55%);
}
.card-form-container .confirmation-container .confirmation-form-continue {
  margin-top: 48px;
  border-radius: 7px;
  padding: 15px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 81%, 18%);
  border: none;
  cursor: pointer;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 375px;
  height: 705px;
}
@media (min-height: 800px) and (max-width: 1000px) {
  .content-container {
    margin-top: 10vh;
  }
}
@media (min-width: 1000px) {
  .content-container {
    margin: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .content-container .card-header-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 483px;
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-container .card-back-image-container,
.content-container .card-front-image-container {
    height: 245px;
    width: 447px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }
  .content-container .card-back-image-container {
    top: 465px;
    left: 260px;
  }
  .content-container .card-back-image-container .card-back-cvc {
    font-size: 0.8rem;
    letter-spacing: 2px;
    left: 355px;
    top: 112px;
    font-weight: 300;
  }
  .content-container .card-front-image-container {
    top: 185px;
    left: 155px;
  }
  .content-container .card-front-image-container .card-front-logo {
    width: 87px;
    height: 47px;
    top: 28px;
    left: 35px;
  }
  .content-container .card-front-image-container .card-front-card-number {
    top: 140px;
    left: 30px;
    font-size: 1.5rem;
    letter-spacing: 3.5px;
  }
  .content-container .card-front-image-container .card-front-card-holder-name {
    left: 30px;
    top: 205px;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  .content-container .card-front-image-container .card-front-card-expiry {
    top: 205px;
    letter-spacing: 2px;
    left: 365px;
  }
  .content-container .card-front-image-container .card-front-card-expiry p {
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  .content-container .card-form-container,
.content-container .confirmation-container {
    margin-top: 0;
    position: absolute;
    top: 265px;
  }
  .content-container .card-form-container label,
.content-container .confirmation-container label {
    font-size: 0.75rem;
  }
  .content-container .card-form-container {
    left: 810px;
    width: 420px;
  }
  .content-container .card-form-container .card-form {
    width: 100%;
  }
  .content-container .card-form-container .card-form .card-form-card-expiry-month,
.content-container .card-form-container .card-form .card-form-card-expiry-year {
    margin-right: 10px;
  }
  .content-container .confirmation-container {
    width: 430px;
    left: 5px;
    top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
