$white-color: hsl(0, 0%, 100%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$light-grayish-violet: hsl(270, 3%, 87%);
$very-dark-grayish-violet: hsl(278, 68%, 11%);
$red: hsl(0, 100%, 66%);

@mixin card-size {
  height: 157px;
  width: 286px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

@mixin card-text {
  letter-spacing: 1px;
  font-size: 0.6rem;
  font-weight: lighter;
}

* {
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: $white-color;
}

.card-header-container {
  position: relative;
  width: 100%;
  height: 240px;
  background-image: url("images/bg-main-mobile.png");

  .card-back-image-container {
    @include card-size;
    background-image: url("images/bg-card-back.png");
    top: 50px;
    left: 70px;

    .card-back-cvc {
      position: absolute;
      left: 230px;
      top: 70px;
      @include card-text;
      color: $white-color;
    }
  }

  .card-front-image-container {
    @include card-size;
    background-image: url("images/bg-card-front.png");
    top: 140px;
    left: 15px;
    color: $white-color;

    .card-front-logo {
      position: absolute;
      width: 54px;
      height: 30px;
      top: 15px;
      left: 20px;
    }

    .card-front-card-number {
      position: absolute;
      top: 90px;
      left: 20px;
      letter-spacing: 2.6px;
    }

    .card-front-card-expiry {
      position: absolute;
      top: 125px;
      left: 230px;
      display: flex;

      p {
        @include card-text
      }
    }

    .card-front-card-holder-name {
      @include card-text;
      position: absolute;
      top: 125px;
      left: 20px;
    }
  }
}

.card-form-container {
  margin-top: 80px;

  .card-form {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .card-form-flex-container {
      display: flex;
    }

    .card-form-label {
      position: relative;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: $very-dark-grayish-violet;
    }

    input {
      width: 100%;
      margin: 10px 0 20px 0;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $light-grayish-violet;
      color: $very-dark-grayish-violet;
    }

    .input-error {
      border: 1px solid $red !important;
    }

    input:focus {
      outline: 1px solid $very-dark-grayish-violet;
    }

    input::placeholder {
      color: $light-grayish-violet;
      font-weight: bold;
    }

    .card-form-confirm-button {
      margin-top: 5px;
      border-radius: 5px;
      padding: 10px;
      color: $white-color;
      background-color: $very-dark-grayish-violet;
      border: none;
    }

    .card-form-flex-container {
      display: flex;
      width: 100%;
      position: relative;

      .expiry-label {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .card-form-card-expiry-month, .card-form-card-expiry-year {
      width: 80px;
      margin-right: 10px;
    }

    .label-container {
      position: relative;
    }

    .error-message {
      color: $red;
      font-size: 0.7rem;
      position: absolute;
      top: 80px;
    }

    .cvc-error {
      top: 20px;
    }
  }
}
